{% extends 'base.html' %}
{% load static %}

{% block content %}
  <p class="h1 text-center mt-3 mb-4 text-primary">URL shrink</p>
  <form method="post">
    {% csrf_token %}
    <div class="form-floating mt-3">
      <input type="url" class="form-control" name="original_url" id="original_url" autocomplete="off" />
      <label for="original_url">URL</label>
    </div>
    <div class="d-grid gap-3 col-6 mx-auto m-4">
      <input class="btn btn-primary" type="submit" value="Submit" />
    </div>
  </form>
{% endblock %}
